.welcome__banner
  .welcome__banner-container
    img(
      src=welcome_img_path + "welcome-image-mobile.png",
      alt="Welcome banner image"
    )
    img(
      src=welcome_img_path + "lines-background-mobile.png",
      alt="Lines background"
    )
    img(src=welcome_img_path + "arrow-mobile.png", alt="Arrow image")
    img(src=welcome_img_path + "mint.png", alt="Mint image")
