- var offer_img_path = "./assets/images/offer/";
- var food_1 = [];

section.offer
  .offer__container
    .offer__dot-background
      img(
        src=offer_img_path + "dot-background.png",
        alt="Dot background image"
      )
    h2.offer__heading Today
      = " "
      span.primary-text Special
      = " Offers"
    p.offer__description Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
    .offer__card-list
      +cardFoodItem({ no: "1", price: "10" , ratePoint: "4.5", foodName: "Kebab", foodDescription: "Lorem Ipsum is simply dummy text of the printing and typesetting industry", imageUrl: offer_img_path + "food-1.png"})
      +cardFoodItem({ no: "2", price: "15", ratePoint: "4.8", foodName: "Chicken Tikka", foodDescription: "Lorem Ipsum is simply dummy text of the printing and typesetting industry", imageUrl: offer_img_path + "food-2.png"})
      +cardFoodItem({ no: "3", price: "8", ratePoint: "4.2", foodName: "Desi Chowmein", foodDescription: "Lorem Ipsum is simply dummy text of the printing and typesetting industry", imageUrl: offer_img_path + "food-3.png"})
      +cardFoodItem({ no: "4", price: "28", ratePoint: "5.0", foodName: "Chicken Chargha", foodDescription: "Lorem Ipsum is simply dummy text of the printing and typesetting industry", imageUrl: offer_img_path + "food-4.png"})
  .offer__rosemary-container
    picture
      source(
        media="(min-width: 840px)",
        srcset=offer_img_path + "rosemary-desktop.png"
      )
      img(src=offer_img_path + "rosemary-mobile.png", alt="Rosemary image")
