- var platform_image_path = "./assets/images/platform/";

section.platform
  .platform__container
    .platform__image-container
      picture
        source(
          media="(min-width: 1200px)",
          srcset=platform_image_path + "main-image-desktop.png"
        )
        img.platform__main-image(
          src=platform_image_path + "main-image-mobile.png",
          alt="The image introduce the platform"
        )
    .platform__content
      h2.platform__heading It's Now
        = " "
        span.primary-text More Easy
        = " to "
        span.secondary-text Order
        = " by Our Mobile "
        span.primary-text App
      p.platform__description All you need to do is downlode one of the best delivery apps, makes a and most companies are opting for mobile app devlopment for food delivery.
      .platform__store-container
        .platform__google-store
          img.platform__google-store-image(
            src=platform_image_path + "chplay.png",
            alt="Google store image"
          )
        .platform__app-store
          img.platform__app-store-image(
            src=platform_image_path + "app-store.png",
            alt="App store image"
          )
